.info-panel {
    font: 10px / 14px Helvetica, Arial, sans-serif;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 344px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 4px;
    padding: 10px 24px;
    max-height: 76%;
    /* overflow: hidden auto; */
    outline: currentcolor none medium;
    z-index: 10;
    opacity: 0.8;
    }
    
    .metrics-layout {
      display: table;
      width: 100%;
    }
    
    .info-panel-heading {
      font: bold 14px / 18px Helvetica, Arial, sans-serif;
    } 
    
    .info-panel-metrics {
    width: 50%;
    font-size: 0.833em;
    display: table-cell; 
    text-transform: uppercase;
    vertical-align: top;
    }
    
    .info-panel-metrics strong {
      display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.833;
    white-space: nowrap;
    }